html {
  color: whitesmoke;
  background-image: linear-gradient(0deg, #242582, #2f2fa2);
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 13px;
}

.column-block {
  width: 100%;
  padding: 0px 20px 0px 20px;
}

button {
  width: 100%;
  border: none;
  padding: 1.5vmin 1vmin;
  background-color: transparent;
  color: whitesmoke;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  font-family: "Open Sans", sans-serif;
}

button:hover,
button:focus {
  outline: 1px ridge whitesmoke;
}

.div-buttons {
  display: flex;
  justify-content: space-around;
}

h1,
h2 {
  text-align: center;
  font-family: "Montserrat", monospace;
  font-weight: 400;
  margin-block-start: 0.7em;
  margin-block-end: 0.3em;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 20px;
}

/* to display tile values
.default,
.selected,
.selected2,
.start,
.end {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}*/

.default {
  background-color: whitesmoke;
}

.selected {
  background-color: orange;
}

.selected2 {
  background-color: rgb(252, 222, 166);
}

.wall {
  background-color: rgb(185, 185, 185);
}

.start {
  background-color: rgba(107, 107, 255, 1);
}

.end {
  background-color: rgba(107, 107, 255, 1);
}

#the-grid {
  margin: auto;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(40, 1.5vmin);
  grid-template-rows: repeat(40, 1.5vmin);
}

#column-container {
  display: grid;
  justify-items: center;
  grid-row-gap: 0px;
  width: 100%;
  max-width: calc(60vmin + 40px);
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  /*outline: thin dashed green; /* just so you can see the box */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1vmin;
  background: rgb(214, 214, 214);
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: background-color 0.2s;
  margin: 1.5vmin 0 1.5vmin 0;
}

.slider:hover {
  background: whitesmoke;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vmin;
  height: 2vmin;
  background: rgba(107, 107, 255, 1);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2vmin;
  height: 2vmin;
  background: rgba(107, 107, 255, 1);
  cursor: pointer;
}
